@if(this.id) {
<div class="d-flex flex-row">
    <div class="d-flex flex-column w-75 p-4">
        <h1 class="text-capitalize">{{ pokemon.name }}</h1>
        <table class="w-50">
            <tbody>
                <tr>
                    <td>Index:</td>
                    <td>{{ pokemon.id }}</td>
                </tr>
                <tr>
                    <td>Height:</td>
                    <td>{{ pokemon.height }}</td>
                </tr>
                <tr>
                    <td>Weight:</td>
                    <td>{{ pokemon.weight }}</td>
                </tr>
                <tr>
                    <td>Types:</td>
                    <td class="d-flex flex-column">
                        <img src="{{ this.pokemonService.formatTypeImageUrl(pokemon.type1) }}" alt="type1" class="type">
                        @if(pokemon.type2) {
                        <img src="{{ this.pokemonService.formatTypeImageUrl(pokemon.type2) }}" alt="type2" class="type">
                        }
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="flex-grow-1"></div>
        <a routerLink="/edit-pokemon/{{ pokemon.id }}" class="btn btn-primary w-50">Edit</a>
        <button (click)="deletePokemon()" class="btn btn-danger w-50 mt-2">Delete</button>
    </div>
    <div class="d-flex flex-column p-4">
        <img src="{{ this.pokemonService.formatPokemonImageUrl(pokemon.id) }}" alt="{{ pokemon.name }}" />
    </div>
</div>
} @else {
<div class="text-center p-4">
    <h3>A Pokemon with that ID has not been added to the Pokedex yet</h3>
</div>
}